@import "/styles/app.scss";
@import "/styles/variables.scss";

.page{
    section{
        min-height: 100vh;
        margin: 0 64px 10vh 64px;
    }

    .main{
        text-align: center;
        margin-top: 2rem;
        .flexContainer{
            @extend .flexRow !optional;
            gap:1rem;
            margin-top: 1rem;
        }
    }

    .recommended,.checkout{
        margin: 0 64px 10vh 64px;
    }
}