@import "/styles/variables.scss";

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.floatingLabel {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #007bff;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.2s ease all;
}

.dropdownSearch {
  padding: 12px 10px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  width: 90%;

  &:focus {
    outline: none;
    border-color: $color-primary;
  }

  &:focus ~ .floatingLabel,
  &:not(:placeholder-shown) ~ .floatingLabel {
    font-size: 12px;
    color: #007bff;
  }
}

.filled .floatingLabel {
  font-size: 12px;
  color: #007bff;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  z-index: 10;
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdownItem {
  padding: 8px;
  cursor: pointer;

  &:hover {
    background-color: #f1f1f1;
  }
}

.dropdownNoOptions {
  padding: 8px;
  color: #999;
  text-align: center;
}
