@import "/styles/app.scss";
@import "/styles/variables.scss";

.main{
    @extend .lightBorder !optional;
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
    padding: 20px;
    text-align: left;
    .headingContainer{
        @extend .flexRow !optional;
        justify-content: space-between;
        border-bottom: 1px solid #E4E4E4;
        padding-bottom: 1rem;
        .heading{
            font-size: 28px;
        }
        button{
            width: 150px;
        }
    }   
    .itemsContainer{
        padding: 1rem 0;
        .empty{
            margin-top: 1rem;
        }
       .item{
            @extend .flexRow !optional;
            justify-content: space-between;
            padding: 1rem 0;
            border-bottom: 1px solid #E4E4E4;
            position: relative;
            .imgContainer{
                height: 100%;
                width: 35%;
                border: 1px solid #E4E4E4;
                border-radius: 10px;
            }
            .contentMain{
                margin-top: 1rem;
                margin-left: 1rem;
                @extend .flexCol !optional;
                justify-content: space-between;
                gap: 1rem;
                .btnMain{
                    @extend .flexCol !optional;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    width: 100%;
                    .removeItem{
                        width: 150px;
                        font-size: 14px;
                        border: none;
                        background-color: $color-primary;
                        color:white;
                        font-weight: 600;
                        padding: 6px 12px;
                        border-radius: 4px;
                        text-align: center;
                        cursor: pointer;
                    }
                }
                .inputBox{
                    width: 50px;
                    text-align: center;
                    border: 1px solid #494949;
                    border-radius: 5px;
                }
                .name{
                    font-size: 16px;
                }
                .pricing{
                    font-size: 24px;
                    color: $color-primary;
                    margin-top: 1rem;
                    span{
                        font-size: 16px;
                        color: gray;
                    }
                }
                .buttons{
                    color: black;
                    @extend .flexRow !optional;
                    gap: 1rem;
                    .plus,.minus{
                        cursor: pointer;
                        font-size: 16px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .minus{
                        svg{
                            transform: rotate(90deg);
                        }
                    }
                    div{
                        border: 1px solid #E4E4E4;
                        border-radius: 4px;
                        padding:3px 7px;
                    }
                }
            }
            .subTotal{
                font-size: 15px;
                .price{
                    font-size: 18px;
                    color: $color-primary;
                }
            }
       } 
    }
}