@import "/styles/app.scss";
@import "/styles/variables.scss";

.testimonials{
    text-align: center;
    margin-top: 10vh;
    .subpara{
        @extend .subpara !optional;
        .textRed{
            font-weight: 600;
        }
    }
    .outerContainer{
        padding-top: 1rem;
        @extend .flexRow !optional;
        gap:2rem;
        .item{
            position: relative;
            border:1px solid $color-text-gray;
            border-radius: 10px;
            // padding: 76px 43px 46px 44px;
            padding: 1rem 2rem;
            text-align: center;
            width: 30%;
            // height: 252px;
            // width: 424px;
            transition: all 0.3s ease-in-out;
            .quote{
                position: absolute;
                top:0;
                left: 40%;
                font-size: 128px;
                color: #b1b1b1;
            }
            .feedback{
                padding-top: 70px;
                padding-bottom: 50px;
            }
        }
        .active{
            border: 2px solid $color-primary;
            transform: scale(1.1);
        }
        .imgContainer{
            position: absolute;
            bottom: -47px;
            left: 35%;
            height: 94px;
            width: 94px;
            border-radius: 50%;
            img{
                object-fit: cover;
            }
        }
    }
}
