@import "/styles/app.scss";
@import "/styles/variables.scss";

.main{
    background-color: #F3F3F3;
    @extend .flexRow !optional;
    padding: 2rem;
    gap: 1rem;
    .circle{
        position: absolute;
        top: -300px;
        left: -420px;
        background-color: transparent;
        opacity: 0.5;
        height: 415px;
        width: 415px;
        border: 100px solid $color-primary;
        border-radius: 50%;
    }
    .innerCircle{
        background-color: transparent !important;
        border-radius: inherit;
        height: 200px;
        width: 200px;
    }
    .imgContainer{
        height: 500px;
        width: 600px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
    }
    .right{
        @extend .flexCol !optional;
        gap: 2rem;
        width: 50%;
        .subHeading{
            font-size: 40px;
            font-weight: 600;
        }
        .numbers{
            @extend .flexRow !optional;
            gap: 10%;
            p{
                span{
                    color: $color-primary;
                    font-weight: bold;
                    font-size: 48px;
                }
            }
        }
        .itemsWrapper{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,1fr);
            grid-row-gap: 1rem;
            grid-column-gap: 2rem;
            .item{
                @extend .flexRow !optional;
                align-items: center;
                gap: 1rem;
                svg{
                    height: 25px;
                    width: 25px;
                }
            }
        }
    }

}