html,
body {
  font-family:var(--font-nunito-sans);
}

body {
  background-color: white;
  color: black;
  scroll-behavior: smooth;
} 

*{
  padding: 0;
  margin: 0;
}
.navbar{
  position: sticky;
  top: 0;
  z-index: 999;
}
a{
  text-decoration: none;
}