.page{
    position: relative;
    section{
        min-height: fit-content;
        margin: 0 64px 100px 64px;
    }
    .whatsapp{
        width: fit-content;
        position: fixed;
        bottom: 10%;
        right: 64px;
        z-index: 100;
    }
}