@import "/styles/app.scss";
@import "/styles/variables.scss";

.topProducts{
    .headingDiv{
        @extend .flexRow !optional;
        justify-content: space-between;
        .right{
            .dropdown{
                width: 221px;
            }
            @extend .flexRow !optional;
            gap:1rem;
        }
    }

    .gridContainer{
        padding-top: 1rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        gap: 1rem;
        place-items: center;
    }
}