@import "/styles/app.scss";
@import "/styles/variables.scss";

.main{
    @extend .lightBorder !optional;
    width: 40vw;
    height: fit-content;    
    padding: 20px;
    h2{
        font-size: 28px;
        text-align: left;
    }
    .type{
        cursor: pointer;
        @extend .lightBorder !optional;
        border-radius: 4px;
        padding: 4px;
        width: fit-content;
        @extend .flexRow !optional;
        margin-top: 1rem;
        p{
           color: black;
           background-color: transparent;
           border-radius: inherit;
           padding: 5px 14px;
        }
        .active{
            background-color: $color-primary;
            color: white;
        }
    }
    .calc{
        padding: 1rem 0;
        margin-top: 1rem;
        border-top: 2px dashed $border-gray;
        border-bottom: 2px dashed $border-gray;
        border-image: repeating-linear-gradient(to right, $border-gray 0, $border-gray 5px, transparent 25px, transparent 10px) 1;
        div{
            @extend .flexRow !optional;
            justify-content: space-between;
            align-items: center;
        }
        .subtotal{
            margin-bottom: 1rem;
            font-weight: bold;
        }
        .gray{
            color: #21212180;
            font-size: 16px;
            padding-bottom: 12px;
        }
    }

    .total{
        font-weight: bold;
        @extend .flexRow !optional;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .checkout{
        background-color: $color-primary;
        @extend .customBtn !optional;
        width: 360px;
    }
    .outlined{
        background-color: none;
        @extend .customBtn !optional;
        color: $color-primary;
        border: 1px solid $color-primary;
    }
    .customBtn{
        width: 360px;
        display: block;
        font-size: 20px;
        border-radius: 8px
    }
    .buttons{
        @extend .flexCol !optional;
        align-items: center;
        gap: 1rem;
    }
}