@import "/styles/app.scss";
@import "/styles/variables.scss";

.hero{
    position: relative;
    .scrollContainer{
        height: 90vh;
        margin-top: 2vh;
        border-radius: 1rem;
        @extend .flexRow !optional;
        overflow-x: hidden;
        gap: 2rem;
        scroll-snap-type: x mandatory;
        &::-webkit-scrollbar{
            display: none;
        } 
        position: relative;

        .itemContainer{
            scroll-snap-align: start;
            height: 100%;
            min-width:100%;
            color: white; 
            @extend .flexCol !optional;
            align-items: center;
            justify-content: center;
            .content{
                // border: 1px solid red;
                width: 58%;
                text-align: center;
                h1{
                    padding-top: 2rem;
                    font-size: $font-size-hero;
                } 
                p{
                    width: 60%;
                    margin: auto;
                }    
                .newmax{
                    background-color: $color-primary;
                    padding: 0.5rem 1rem;
                    border-radius: .5rem;
                }
            }
        }
    }
    .outerDiv{
        position: absolute;
        bottom: -100px;
        left: 12vw;
        border-radius: 2rem;
        background-color: #d9d9dd2f;
        backdrop-filter: blur(10px);
        width: 65vw;
        height: 170px;
        padding: 2rem;
        box-shadow: 0 2px 4px rgb(0,0,0,.5);
        z-index: 99;
        .innerDiv{
            background-color: white;
            height:140px;
            border-radius: .5rem;
            padding:2rem 0 0 5vw;
            .searchBtn{
                height: 52px;
                width: 221px;
                padding: 12px 60px;
                font-size: 18px;
            }
        }
        .dropdownContainer{
            @extend .flexRow !optional;
            gap: 1rem;
            padding-top: 1rem;
            margin-left: 15%;
            .dropDown{
                width: 35%;
                display: flex;
                justify-content: center;
            }
        }
    }
}