@import "/styles/app.scss";
@import "/styles/variables.scss";

.stats{
    text-align: center;
    margin-top: 200px;

    .numbers{
        background-color: $color-gray;
        @extend .flexRow !optional;
        justify-content: space-between;
        align-items: center;
        margin-top: 5vh;
        padding: 2rem;
        border-radius: 1rem;

        p{
            @extend .flexRow !optional;
            align-items: center;
            gap: 1rem;
            b{
                font-size: 64px;
                color: $color-primary;
                font-weight: 600;
            }
            font-size: 28px;
        }
    }

    .textContent{
        margin-top:10vh;
        text-align: left;
        p{
            padding-top: 1rem;
        }
        .textGray{
            width: 50%;
        }
    }
    .statsContents{
        margin-top: 10vh;
        @extend .flexRow !optional;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        border: .5px solid rgba(128, 128, 128, 0.479);
        padding: 3rem;
        border-radius: .5rem;

        .outerStat{
            @extend .flexRow !optional;
            justify-content: space-around;
            align-items: center;
            .gradientDiv{ 
                width: 2px;
                height: 178px;
            }
        }

        .stat{
            width: 70%;
            .imgContainer{
                height: 50px;
                width: 50px;
                img{
                    object-fit: contain
                }
            }
            h3{
                width: fit-content;
            }
            @extend .flexCol !optional;
            gap:1rem;
        }
    }

}
  