@import "./mixins.scss";
@import "./variables.scss";

.flexRow{
    display: flex;
    flex-direction: row;
}
.flexCol{
    display: flex;
    flex-direction: column;
}
.imgContainer{
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.outlinedButton{
    border: 2px solid $color-primary;
    border-radius: 8px;
    height: 52px;
    width: 108px;
    padding: 12px 16px;
    background-color: transparent;
    color: $color-primary;
    transition: all .3s ease-in-out;
}
.outlinedButton:hover{
    @extend .filledButton !optional;
}
.containedBtn{
    border-radius: 8px;
    height: 52px;
    padding: 12px 16px;
    background-color: $color-primary !important;
}
.heading{
    font-size: $font-size-heading;
}
.subHeading{
    font-size: $font-size-subHeading;
    font-family: var(--semibold);
}
.subpara{
    width: 30%;
    margin: auto;
    padding: 1rem;
}
.textGray{
    color: $color-text-gray;
}
.textRed{
    color: $color-primary;
}

.gradientDiv{
    width: 1px;
    height: 63px;
    background: linear-gradient(180deg, rgba(176, 151, 151, 0.3) 0%, #B09797 51%, rgba(176, 151, 151, 0.3) 100%);
}